        body {
            background-color: black;
            color: white;
            margin-left: 100px ;
        }
        img {
            width: 160px;
            height: 160px;
            border-radius: 160px;
            object-fit: cover;
            display: inline-block;
            vertical-align: center;
            margin-right: 20px;

        }

        .information {
            display: inline-block;
            vertical-align: top;
            color: white;
        }

        h1 {
            color: white;
        }

        .about {
            width: 70%;
            margin-bottom: 20px;
        }
        .about_g {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
        }
        .about_2_g {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-flow: row wrap;
            object-position: center;

        } 
        .about_2 {
            margin-right: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-flow: row wrap;
        }
        input {
            padding: 12px 16px;
            border: none;
            border-radius: 4px;
            background-color: rgb(54, 53, 53);
        }
        .submit{
            /* margin-left: 250px; */
        }
        .submit:hover{
            background-color: blueviolet;
            transition: all 0.20s;
            cursor: pointer;
        }
        @keyframes bounce {
            0%, 100% {
                transform: translateY(0);
            }
        50% {
            transform: translateY(-20%);
        }
        }
        .about_you {
                padding-top: 20px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                box-shadow: 0px 0px 15px rgb(255, 255, 255);
                border-radius: 10px;
                margin: 7% auto 0;
                max-width: 900px;
                width: 100%;
                flex-flow: wrap ;
                top: 0;
                left: 50%;
                animation: bounce 3s ;
            }
            .text {
                text-align: center;
                font-size: 20px;
                margin-bottom: 10px;
                flex-flow: wrap ;
                 font-family: "Press Start 2P", system-ui;
                font-weight: 400;
                font-style: normal;


            }


            .container {
                display: flex;
                flex-direction: column;
    
            }
        
